@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap'
);

$bg-color: #F8F8F8;
$txt-color: #000000;
$fancy-color: #4169e1;
$select-color: #aa6c39;
$bg-menu-color: lightgray;
$border-color: gray;
$highlight-color: lightblue;
$txt-font: 14px;
$small-font: 12px;
$script-font: "Merienda One";
